.home {
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	#canvas{
		border: 1px solid grey;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
	}
	.btns{
		width: 650px;
		display: flex;
		justify-content: space-evenly;
		.btn{
			font-size: 12px;
			align-items: center;
			display: flex;
			justify-content: center;
			width: 200px;
		i{
			margin-right: 3px;
		}
		}
	}
	
}