.userinfo {
    padding-right: 50px;
    margin-top: 20px;
    width: 50%;
    form {
      margin: 0;
    }
    input::placeholder {
      color: #000;
    }
    .userinfo_btn {
      .btn {
        width: 95px;
        background-color: #26c6da;
        i {
          margin: 0;
        }
      }
    }
  }