.modal_popup{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10;
	.modal_window{
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-direction: column;
		z-index: 20;
		width: 400px;
		padding: 15px;
		border-radius: 20px;
		height: 250px;
		background-color: #fff;
		outline: 0;
		form {
			display: flex;
			justify-content: center;
			height: 200px;
			margin: 0;
		}
		.close_btn{
			width: 100%;
			display: flex;
			justify-content: flex-end;
			i{
				color: #f44336;
				cursor: pointer;
			}
		}
		.control {
			width: 300px;
			margin: 10px auto;
		}
		.btn{
			background-color: #80deea;
		}
	}
}
.showModal {
	display: flex;
}